
<h1>Bienvenue</h1>
<p>


  <% @gossips.each do |gossip| %>

        <p>

          <a href = <%= "/gossips/" + gossip.id.to_s %> > <%= "Gossip n°" + gossip.id.to_s %></a><br/>

          <%= gossip.title %><br/>

          <%= gossip.user.first_name %>

        </p>

  <% end %>
