
<h1>Bienvenue</h1>





<% @gossips.each do |gossip| %>
  <div class="card col-4">
    <div class="card-header"><%= gossip.user.first_name %></div>
    <div class="card-body">
      <%= gossip.title %><br/>

      <a href = <%= "/gossips/" + gossip.id.to_s %> > <%= "Gossip n°" + gossip.id.to_s %></a><br/>
    </div>

  </div>
  <% end %>
